:host {
  mat-list {
    mat-list-item {
      .actions {
        mat-icon {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  margin-right: 10px;
}

:host {
  mat-card {
    [mat-card-avatar] {
      //height: 400px;
      //background-size: cover;
      //background-position: center center;
      //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
      margin-right: 10px;
      :hover {

      }
    }
  }
}

.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

[mat-card-avatar]:hover {
  background-color: yellow;
}
